---
layout: default
title: All Posts 
side: open
---

<p class="message right">
Welcome, as there is not much here I suggest you head over to my <a
  href="academic"> publications and CV </a>page. Or check out my current <a href="https://github.com/SESA/EbbRT">research projects on Github</a>.</p>

  <h1>Latest Updates</h1>
  <p>Most recent posts.</p>
  <ul class="new posts">
    {% for post in site.posts limit:5 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <!--
  <h1>Technology</h1>
  <ul class="posts">
    {% for post in site.posts %}
      {% if post.group == "tech" %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  <h1>Music</h1>
  <ul class="posts">
    {% for post in site.posts %}
      {% if post.group == "music" %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  -->
