/* MAIN CSS */
body{
  font-family: 'Georgia', serif; 
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
  min-width: 420px;
  word-wrap: break-word;
  font-size: 14px;
  background: #fff;
}

h2,h1,strong {
  font-family: 'SanchezSlab Semibold', Georgia, serif;
  color: #031f2e;
}

code, kbd, pre, samp {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, 'Nimbus', Monaco, monospace;
  padding: 0.2em 0.2em;
  background-color: #f0f0f0;
  text-rendering: optimizeLegibility;
	line-height:1.45;
  font-size:14px;
}

table{
  font-family: "PT Sans";
}

p, ul, ol {
  margin: 0; 
  padding: 0; 
}

a{
  color: #129fea;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
  background-color:#ffffcc;
}

.highlighter {
  background-color:#ffffb2;
  padding-left:5px;
}

.bold {
  font-family: 'SanchezSlab Semibold', Georgia, serif;
  font-weight: bold;
}

.justified {
  text-align: justify;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

hr {
    padding-top: 1.5em;
    margin-bottom: 4.5em;
    height: 0px;
    border-width: 0px;
    border-bottom: 4px solid #e5e9ed;
}

.banner {
    background: transparent url('../desktop.png') 0 no-repeat;
    text-align: center;
    background-size: 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../desktop.png', sizingMethod='scale');
    height: 288px;
    width: 100%;
    margin-bottom: 1em;
    display: table;
    opacity: 0.8;
}

.banner-head {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
    font-size: 2em;
    color: white;
    font-weight: 500;
    text-shadow: 0 1px 1px black;
}

.masthead {
    padding-top: .8rem;
    padding-bottom: .8rem;
    margin-bottom: 0rem;
}

.default .wrapper {
    position: relative;
    max-width: 1178px;
    margin: auto;
}

.content {
    font-size: 16px;
  	color: #1c2024;
    max-width: 800px;
    padding-left: 45px;
    padding-right: 45px;
    border-style: solid;
    border-width: thin;
    border-color: #FFFFFF;

    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.content h1, h2 {
  border-bottom: 1px solid #eaecef;
}

.content h2, h3 {
  text-transform: uppercase;
}

.content h2, h3, h4, h5 {
  margin-bottom: 0.75em;
  line-height:1;
}

.content p{ 
    line-height: 30px;
    margin-bottom: 1.5em;
    padding-right: 30px;
}
.content ul, .content ol{
    line-height: 30px;
    margin-bottom: 1.5em;
    margin-left: 2em;
}

.content blockquote {
    line-height: 30px;
    margin: 0 auto 1.5em ;
    width: 70%;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 0px;
    border-top: 2px solid #e5e9ed;
    border-bottom: 2px solid #e5e9ed;
    font-family: 'Open Sans',sans-serif;
    font-size: 17px;
    color: #222;
    line-height: 1.67;
    background-color: #fbfcfc;
}

.page-title, .post-title {

}

.page-body, .post-body {

}
