body{
  font-size: 90%;
}
.justified {
      text-align: justify;
    }

.right {
      text-align: justify;
    }

.center {
      text-align: justify;
    }

.banner {
    background: transparent url('https://dl.dropboxusercontent.com/u/11161963/background.png') 0 0 no-repeat fixed;
    text-align: center;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://dl.dropboxusercontent.com/u/11161963/background.png', sizingMethod='scale');
    height: 200px;
    width: 100%;
    margin-bottom: 3em;
    display: table;
}

.banner-head {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
    font-size: 2em;
    color: white;
    font-weight: 500;
    text-shadow: 0 1px 1px black;
}

.masthead {
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-bottom: 0rem;
}
