<!DOCTYPE html>
  <html>
    <head>
      <title>{{ page.title }}</title>
      <!-- link to main stylesheet -->
      <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
      <link rel="stylesheet" type="text/css" href="/css/main.css">
<!--[if lte IE 8]>
      <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
      <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
<!--<![endif]-->
    </head>
    <body>
      <nav>
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
          </ul>
      </nav>
      <div class="container">
      
      {{ content }}
      
      </div><!-- /.container -->
      <footer>
          <ul>
              <li><a href="mailto:james.cadden@gmail.com">email</a></li>
        </ul>
      </footer>
    </body>
  </html>
