<!DOCTYPE html>
<html lang="en-us">
<head>
{% include head.html %}
<link rel="stylesheet" href="{{ site.baseurl }}/public/css/home.css">
<link rel="stylesheet" href="https://s3.amazonaws.com/icomoon.io/114779/Socicon/style.css?rd5re8">
<style>
</style>
</head>
  <body class="home">
  <audio id="tone">
  </audio>
    <div class="info" itemscope itemtype="http://schema.org/Person">
    <div class="avatar">
        <img itemprop="image" alt="photo of James M. Cadden" src="{{ site.baseurl }}/public/james-m-cadden.png">
    </div>
    <h1 itemprop="name">James M. Cadden</h1>
    <ul itemprop="description" class="subtitle">
    </ul>
    <ul class="social">
        <li><a class="socicon-mail" href="mailto:james.cadden@gmail.com"></a></li>
        <li><a class="socicon-linkedin" href="https://www.linkedin.com/in/jimcadden/"></a></li>
        <li><a class="socicon-github" href="https://github.com/jmcadden"></a></li>
<!--        <li><a class="socicon-medium"
  href="https://medium.com/@jmcadden"></a></li> -->
        <li><a class="socicon-spotify" href="https://open.spotify.com/user/1274541199"></a></li>
    </ul>
    <div class="home-content">
        {{ content }}
    </div>
    </div>
    </div>
  {% include foot.html %}
  </body>
</html>
